name: Tests

on:
  push:
    branches: [ "**" ]
    tags-ignore: [ "v*" ] # Don't double run on tags (release.yml handles tags)
  pull_request:
    branches: [ "**" ]

jobs:
  test:
    name: Run Go Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Run tests
        run: go test -v ./src/...

